<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <typeAliases>
    <typeAlias alias="Movie" type="com.hektorks.take.common.model.Movie"/>
    <typeAlias alias="MovieCategory" type="com.hektorks.take.common.model.MovieCategory"/>
  </typeAliases>
  <typeHandlers>
    <typeHandler handler="com.hektorks.config.database.typehandlers.MovieCategoryTypeHandler"/>
  </typeHandlers>
  <mappers>
    <mapper resource="mappers/MoviesMapper.xml"/>
  </mappers>
</configuration>